:root {
 --white: #ffffff;
 --gray: #d9d9d9;
 --black: #000000;
 --primary-color: #32023e;
 --secondary-color: #2a0f37;
 --dark-secondary-color: #583c5c;
 --tertiary-color: #a96ccc;
 --light-tertiary-color: #fbf3fb;
 --text-color: #443448;

 --font-family: 'DM Sans', sans-serif;
}

